
    <template>
      <div class="card">
        <div class="card-header text-white bg-info">
          <h3>Perfil</h3>
        </div>
        <div class="card-body">
          <form class="form-inline" role="form">


            <div class="form-group row">
              <label class="col-sm-3 col-form-label"><strong>Nombre</strong></label>
              <div class="col-sm-9">
                <input type="text" placeholder="Nombre" class="form-control" value.bind="contact.name">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Usuario</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Usuario" class="form-control" value.bind="contact.username">
              </div>
            </div>

            

            <div class="form-group col-md-6">
              <label class="col-sm-2 col-form-label">Correo Electrónico</label>
              <div class="col-sm-9">
                <input type="text" placeholder="email" class="form-control" value.bind="contact.email">
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="col-sm-3 col-form-label">Teléfono</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Teléfono" class="form-control" value.bind="contact.phone">
              </div>
            </div>


             <div class="form-group col-md-10">
              <label class="col-sm-1 col-form-label">Sitio Web</label>
              <div class="col-md-10">
                <input type="text" placeholder="Sitio web" class="form-control" value.bind="contact.website">
              </div>
            </div>

            <div >
              <label class="col-sm-1 col-form-label text-primary"><strong>Dirección</strong></label>
              
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label class="col-sm-1 col-form-label">Calle</label>
                    <div class="col-sm-3">
                      <input type="text" placeholder="calle" class="form-control" value.bind="contact.address.street">              
                    </div>
                   </div> 
                    
                    <div class="form-group col-md-6">
                       <label class="col-sm-1 col-form-label">Suite</label>
                      <div class="col-sm-3">
                        <input type="text" placeholder="suite" class="form-control" value.bind="contact.address.suite">              
                      </div>
                    </div>
                    <br>
                    <div class="form-group col-md-6">
                       <label class="col-sm-1 col-form-label">Ciudad</label>
                      <div class="col-sm-3">
                        <input type="text" placeholder="ciudad" class="form-control" value.bind="contact.address.city">              
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                       <label class="col-sm-1 col-form-label">Código Postal</label>
                      <div class="col-sm-3">
                        <input type="text" placeholder="código postal" class="form-control" value.bind="contact.address.zipcode">              
                      </div>
                    </div>
              </div>

              <div>
                <label class="col-sm-2 col-form-label text-warning"><strong>Geolocalización</strong></label>
                  <div class="form-row">
                     <div class="form-group col-md-6">
                    <label class="col-sm-1 col-form-label">latitud</label>
                    <div class="col-sm-3">
                      <input type="text" placeholder="latitud" class="form-control" value.bind="contact.address.geo.lat">              
                    </div>
                  </div>
                    <div class="form-group col-md-6">
                    <label class="col-sm-3 col-form-label">longitud</label>
                    <div class="col-sm-3">
                      <input type="text" placeholder="longitud" class="form-control" value.bind="contact.address.geo.lng">              
                    </div>
                    </div>

                </div>

              </div>

            </div>


            <div>
              <label class="col-sm-1 col-form-label text-primary"><strong>Empresa</strong></label>
              
              <div class="form-row">
                  <div class="form-group col-md-12">
                    <label class="col-sm-1 col-form-label">Nombre</label>
                      <div class="col-md-10">
                        <input type="text" placeholder="nombre Empresa" class="form-control" value.bind="contact.company.name">              
                      </div>
                   </div> 
                    
                    <div class="form-group col-md-12">
                       <label class="col-sm-1 col-form-label">Eslogan</label>
                      <div class="col-md-9">
                        <input type="text" placeholder="eslogan" class="form-control input-lg" value.bind="contact.company.catchPhrase">              
                      </div>
                    </div>
                    <br>
                    <div class="form-group col-md-12">
                       <label class="col-sm-1 col-form-label">bs</label>
                      <div class="col-md-9">
                        <input type="text" placeholder="bs" class="form-control" value.bind="contact.company.bs">              
                      </div>
                    </div>

              </div>


            </div>

           
            
          </form>
          <div>
            <button class="btn btn-success float-right" click.delegate="save()">Guardar</button>
        </div>
        </div>
      </div>
    </template>